name: Build Plugin

on: 
  push:
    paths:
      - '.github/workflows/compile.yml'
      - 'source/**'
      - 'gluatests/**'
      - 'libs/**'
      - 'premake5.lua'
      - 'holytest.vdf'
      - 'holytest_64.vdf'
      - '!source/public/README.md'
  pull_request:
  workflow_dispatch:

jobs:
  build_plugin:
    name: "Build Plugin"
    uses: RaphaelIT7/gmod-common-module-base/.github/workflows/compile.yml@workflow
    with:
      PROJECT_NAME: "holytest"
      BUILD_64x: "true"
      REALM: "sv"
      LINUX_FILEEXTENTION: "so"
      BUILD_WINDOWS: "false" # Windows isn't needed right now
      ARTIFACT_EXPIRE: "7"
      SOURCESDK_MINIMAL: "RaphaelIT7/sourcesdk-minimal"
      SOURCESDK_MINIMAL_BRANCH: "patch-6"
      SOURCESDK_MINIMAL_64XBRANCH: "x86-64-patch-2"
      GARRYSMOD_COMMON: "RaphaelIT7/garrysmod_common"

  setup_artifact:
    name: "Setup Artifact"
    needs: build_plugin
    runs-on: ubuntu-latest
    container: debian:bullseye
    steps:
      - uses: actions/checkout@v4
        name: "Checkout required files"
        with:
          sparse-checkout: |
            holytest_64.vdf
            holytest.vdf

      - uses: actions/download-artifact@v4
        name: "Download 32x plugin"
        with:
          name: "gmsv_holytest_linux.so"

      - uses: actions/download-artifact@v4
        name: "Download 64x plugin"
        with:
          name: "gmsv_holytest_linux64.so (64x)"

      - name: "Create structure"
        run: |
          mkdir -p garrysmod/lua/bin
          mv gmsv_holytest_linux.so garrysmod/lua/bin/
          mv gmsv_holytest_linux64.so garrysmod/lua/bin/

          mkdir -p garrysmod/addons
          mv holytest.vdf garrysmod/addons
          mv holytest_64.vdf garrysmod/addons
          tar -czf holytest.tar.gz garrysmod/

          mv gluatests garrysmod/addons
          tar -czf gluatest.tar.gz garrysmod/

      - uses: actions/upload-artifact@v4
        name: "Upload tar"
        with:
          name: gluatest
          path: gluatest.tar.gz
          compression-level: 9
          retention-days: 1

      - uses: actions/upload-artifact@v4
        name: "Upload release tar"
        with:
          name: holytest
          path: holytest.tar.gz
          compression-level: 9
          retention-days: 1

  test_build:
    name: "Test Branches"
    needs: setup_artifact
    uses: CFC-Servers/GLuaTest/.github/workflows/run_tests.yml@main
    strategy:
      matrix:
        branch:
          - live
          - dev
          - prerelease
          - x86-64
    with:
      no-checkout: "true"
      download-artifact: "gluatest"

  release_update: # If all tests passed, we do a release
    name: "Release Update"
    needs: test_build
    runs-on: ubuntu-latest
    container: debian:bullseye
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        name: Download Linux Build
        with:
          name: "holytest"
          path: "linux/"
          run-id: ${{inputs.ARTIFACT_ID}}

      - name: Create Release
        id: create_release
        uses: shogo82148/actions-create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.run_number }}
          release_name: Build ${{ github.run_number }}
          draft: false
          prerelease: false
          make_latest: true

      - name: Upload Linux 32x
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: linux/holytest.tar.gz
          asset_name: linux.tar.gz
          asset_content_type: application/octet-stream